/*male.css*/
@media only screen
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
 
}
body {
    background: #e0dddd;
    /*background-size: 1902px 941px;*/
}
header.header {
    display: flex;
    background-color: white;
    border: solid 1px #80808026;
    font-size: 20px;
    font-weight: bold;
    width: 100%;    
    position: fixed;
}
ul#main_menu{
    background: white;
    display: flex;
    flex-wrap: wrap;
    color: black;
    width: 60%;
}
ul#find{
    background: white;
    display: flex;
    flex-wrap: wrap;
    color: black;
    width: 20%;
}
ul#more{
    background: white;
    display: flex;
    flex-wrap: wrap;
    color: black;
    width: 20%;
}
li#\31 {
    color: white;
    width: 20%;
}
li#\32 {
    color: white;
    width: 30%;
}
a {
    color: black;
}
img#suit {
    height: 900px;
    width: 100%;
}
input[type="text"] {
    margin-left: 110px;
    border: solid 2px black;
}
.mes {
    position: fixed;
    bottom: 10px;
    right: 0;
}

img#phone {
    width: 50px;
    height: 50px;
}
img#messenger {
    width: 50px;
    height: 50px;
   
}

.container1 {
    display: flex;
    background-color: white;
    margin-top: 10px;
}
a#homepage {
	padding: 12px;
    font-size: 20px;
    font-weight: bold;
    width: 7%;
}

a#male {
    padding: 12px;
    font-size: 20px;
    font-weight: bold;
    width: 70%;
}
select#sort {
    border: 1px solid black;
}

ul#list_sp {
    display: flex;
    font-size: 20px;
}

img {
    height: 400px;
    width: 330px;
}

table#tab2 {
    width: 25%;
}



ul#in4 {
    display: flex;
    gap: 100px;
    margin-right: -190px;
    margin-left: 55px;
}
table#tab1 {
    width: 33.33%;
}
th {
    text-align: inherit;
}