/*register.css*/
@media only screen
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
 
}
body {
    background: #e0dddd;
    /*background-size: 1902px 941px;*/
}
header.header {
    display: flex;
    background-color: white;
    border: solid 1px #80808026;
    font-size: 20px;
    font-weight: bold;
    width: 100%;    
    position: fixed;
}
ul#main_menu{
    background: white;
    display: flex;
    flex-wrap: wrap;
    color: black;
    width: 60%;
}
ul#find{
    background: white;
    display: flex;
    flex-wrap: wrap;
    color: black;
    width: 20%;
}
ul#more{
    background: white;
    display: flex;
    flex-wrap: wrap;
    color: black;
    width: 20%;
}
li#\31 {
    color: white;
    width: 20%;
}
li#\32 {
    color: white;
    width: 30%;
}
a {
    color: black;
}
img#suit {
    height: 900px;
    width: 100%;
}
input[type="text"] {
    margin-left: 110px;
    border: solid 2px black;
}
.mes {
    position: fixed;
    bottom: 10px;
    right: 0;
}

img#phone {
    width: 50px;
    height: 50px;
}
img#messenger {
    width: 50px;
    height: 50px;
   
}



form {
    width: 60%;
    /*	background-color: pink;*/
    margin-left: 300px;
    position: fixed;
    margin-top: 90px;
}


h1 {
    color: white;
}

input#first-name {
    width: 45%;
    height: 40px;
    border: 2px solid black
}


input#last-name {
    width: 45%;
    height: 40px;
    margin-left: 30px;
    border: 2px solid black
}

input#dateofbirth {
    width: 45%;
    height: 40px;
    margin-top: 20px;
    border: 2px solid black
}

input#email {
    width: 45%;
    height: 40px;
    margin-top: 20px;
    border: 2px solid black
}

input#dateofbirth {
    width: 45%;
    height: 41px;
    margin-top: 20px;
    margin-left: 32px;
    border: 2px solid black
}

input#phone_number {
    width: 34%;
    height: 40px;
    margin-top: 20px;
    border: 2px solid black
}

button#submit {
    height: 45px;
    background-color: peachpuff;
    border: 2px solid;
    width: 10%;
}

input#otp {
    width: 45%;
    height: 40px;
    margin-top: 20px;
    margin-left: 35px;
    border: 2px solid black
}

input#password {
    width: 45%;
    height: 40px;
    margin-top: 20px;
    border: 2px solid black;
}

input#repeat {
    width: 45%;
    height: 40px;
    margin-left: 32px;
    border: 2px solid black;
}

button#submit {
    margin-top: 20px;
}




ul#in4 {
    display: flex;
    gap: 100px;
    margin-right: -190px;
    margin-left: 55px;
}
table#tab1 {
    width: 33.33%;
}
th {
    text-align: inherit;
}